name: publish next

on:
  release:
    types: [prereleased]

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm run build
      - run: npm unpublish @themost/express@next
      - run: npm publish . --access=public --tag next
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
